*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.page{
  margin: 0 auto;
  width: 60vw;
  min-width: 576px;
  display: flex;
}
h2{
  font-weight: 300;
}
h3{
  text-transform: uppercase;
  font-weight: 800;
}
.page{
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.col{
  width: 49%;
}
.middle-margin{
    width: 2%;
}
.left-col{

}
.container-1{
  height: 400px;
  text-transform: uppercase;
  text-align: center;
}
.container-1 .photo img{
  width: 230px;
  height: auto;
  border-radius: 100%;
}
.container-2{
  background-color: #C4E2CA;
}
.container-2 .core-skills ul{
  list-style-type: none;
  margin-left: 10px;
}
.container-2 .personal-summary,
.container-2 .core-skills{
  padding: 35px 35px 0 35px;
}
.container-2 .personal-summary h3,
.container-2 .core-skills h3{
  margin-bottom: 10px;
}
.container-2 .skills-cols{
  display: flex;
}
.container-2 .skills-cols ul{
  margin-bottom: 15px;
}



.right-col{

}
.container-3{
  height: 400px;
}

.container-3 .description-box .title-bar,
.container-4 .description-box .title-bar{
  text-transform: uppercase;
  background-color: #C4E2CA;
  width: 100%;
}
.icon{
  background-color: #587D9F;
  font-size: 20px;
  color: white;
  padding: 8px;
}
.container-3 .description-box .description,
.container-4 .description-box .description{
  margin-left: 35px;
}
.container-3 .description-box .description h5,
.container-4 .description-box .description h5{
  margin-top: 6px;
}
.container-3 .description-box .description h6,
.container-4 .description-box .description h6{
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
}
.container-3 .description-box .description ul,
.container-4 .description-box .description ul,
.container-4 .description-box .description p{
  list-style-type: none;
  font-size: 13px;
}
.contact{
  margin-top: 30px;
}
.contact ul{
  margin-top: 10px;
}
.contact li{
  margin-bottom: 4px;
}
